<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}
        {% if page.url == '/' %}
            Daniël van der Winden • Software designer & writer
        {% else %}
            {{ title }} • Daniël van der Winden
        {% endif %}
    {% else %}
        Daniël van der Winden • Software designer & writer
    {% endif %}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="min-h-screen bg-beige dark:bg-[#222] text-gray-900 dark:text-gray-100 font-sans overflow-x-hidden {{ bodyClass }}">
    <header class="fixed top-0 left-0 z-50 p-6 flex justify-between w-full">
        <div class="flex items-center space-x-4">
            {% retinaImage "src/assets/daniel.png", "Avatar of Daniël van der Winden", 20, "rounded-full" %}
            <a href="/" class="text-xl font-serif text-gray-900 dark:text-gray-100 hover:text-gray-600 dark:hover:text-gray-300 transition-colors">
                {{ "Daniël van der Winden" }}
            </a>
        </div>
        <button id="dark-mode-toggle" aria-label="Toggle dark mode" class="ml-4">
            <span id="dark-icon">
                {% include "icons/sunset.svg" %}
            </span>
            <span id="light-icon">
                {% include "icons/sunrise.svg" %}
            </span>
        </button>
    </header>

    <nav class="fixed bottom-0 left-0 z-50 p-6">
        <ul class="flex flex-row flex-nowrap overflow-x-auto whitespace-nowrap hide-scrollbar justify-start space-x-8 text-base font-serif sm:flex-col sm:space-x-0 sm:space-y-3 sm:text-lg">
            <li>
                <a href="/"
                   class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors
                   {% if page.url == '/' %} underline underline-custom text-black dark:text-white{% endif %}">
                    Work
                </a>
                <span class="ml-2 inline-block align-middle text-xs text-[#7c5e00] uppercase tracking-widest font-sans font-bold bg-[#fff9a8] dark:bg-gray-800 px-2 py-1 rounded-full">
                    Available
                </span>
            </li>
            <li>
                <a href="/links/" 
                   class="block text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors
                   {% if page.url.startsWith('/links/') %} underline underline-custom text-black dark:text-white {% endif %}">
                    Links
                </a>
            </li>
            <li>
                <a href="/journal/" 
                   class="block text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors
                   {% if page.url == '/journal/' %} underline underline-custom text-black dark:text-white {% endif %}">
                    Journal
                </a>
            </li>
            <li>
                <a href="http://transcriptmag.store" rel="external" target="_blank" class="block text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors">
                    Magazine
                </a>
            </li>
            <li>
                <a href="/newsletter/" 
                   class="block text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors
                   {% if page.url == '/newsletter/' %} underline underline-custom  text-black dark:text-white {% endif %}">
                    Newsletter
                </a>
            </li>
            <li>
                <a href="/reading/" 
                   class="block text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors
                   {% if page.url == '/reading/' %} underline underline-custom text-black dark:text-white {% endif %}">
                    Reading
                </a>
            </li>
            <li>
                <a href="/watching/" 
                   class="block text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100 transition-colors
                   {% if page.url == '/watching/' %} underline underline-custom text-black dark:text-white {% endif %}">
                    Watching
                </a>
            </li>
        </ul>
    </nav>
    
    <main class="ml-0 lg:ml-64 mr-0 lg:mr-32 pt-20 px-6 lg:px-12 flex-1 flex justify-end max-w-full">
        <div class="max-w-xl prose prose-lg max-w-none font-serif pt-[25vh] dark:prose-invert">
            {{ content | safe }}

            <footer class="site-footer">
                <ul>
                    <li>
                    <a href="mailto:d.vanderwinden@gmail.com" title="Email me" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Email</a>
                </li>
            <li>
                <a href="https://bsky.app/profile/daniel.pizza" rel="external" target="_blank" title="Follow me on Bluesky" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Bluesky</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/dvdwinden/" rel="external" target="_blank" title="Find me on LinkedIn" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/dvdwinden" rel="external" target="_blank" title="Find me on Github" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Github</a>
            </li>
            <li>
                <a href="/colophon" title="Colophon" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Colophon</a>
            </li>
            <li>
                <a href="/now" title="Now" class="text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100">Now</a>
            </li>
        </ul>
    </footer>

        </div>

        
    </main>

    
    <script src="/js/dark-mode.js"></script>

</html>

