<footer class="site-footer">
    <ul>
        <li>
            <a href="https://bsky.app/profile/daniel.pizza" rel="external" target="_blank" title="Follow me on Bluesky" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100">Bluesky</a>
        </li>
        <li>
            <a href="/colophon" title="Colophon" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100 {% if page.url == '/colophon/' %} underline underline-custom text-black dark:text-white {% endif %}">
                Colophon
            </a>
        </li>
        <li>
            <a href="mailto:d.vanderwinden@gmail.com" title="Email me" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100">Email</a>
        </li>
        <li>
            <a href="https://github.com/dvdwinden" rel="external" target="_blank" title="Find me on Github" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100">Github</a>
        </li>
        <li>
            <a href="https://www.letterboxd.com/dvdwinden/" rel="external" target="_blank" title="Follow me on Letterboxd" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100">Letterboxd</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/dvdwinden/" rel="external" target="_blank" title="Find me on LinkedIn" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100">LinkedIn</a>
        </li>
        <li>
            <a href="/now" title="Now" class="text-black/50 dark:text-white/30 hover:text-gray-900 dark:hover:text-gray-100 {% if page.url == '/now/' %} underline underline-custom text-black dark:text-white {% endif %}">Now</a>
        </li>
    </ul>
</footer> 