/* Dark mode specific styles */

.dark .prose hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.dark .prose blockquote {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: theme('colors.white');
}

.dark .prose ul li::marker {
    color: rgba(255, 255, 255, 0.2);
}

.dark .prose a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #999;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.dark .prose a:hover {
    background: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.dark .prose p a:hover {
    color: theme('colors.black');
    background: theme('colors.highlight');
    text-decoration: none;
}

.dark .prose .cta-button {
    background: #fff;
    color: #000;
    text-decoration: none;
}

.dark .prose .cta-button:hover {
    background: theme('colors.gray.100');
    color: theme('colors.gray.600');
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
}

.dark .prose .cta-link {
    color: theme('colors.white');
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.dark .prose .cta-link:hover {
    color: theme('colors.gray.300');
    text-decoration: none;
    transition: color 0.2s;
    background: none;
}

.dark figcaption,
.dark .prose figcaption {
    color: theme('colors.white');
    opacity: 0.4;
}

.dark .callout {
    color: theme('colors.white');
}

.dark .site-footer ul li a {
    color: theme('colors.gray.400');
    text-decoration: none;
}

.dark .site-footer ul li a:hover {
    color: theme('colors.gray.100');
}

.dark .site-footer a.underline-custom {
    text-decoration: underline;
    text-decoration-color: theme('colors.gray.400');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: theme('colors.gray.100');
}

.dark ul.links li a:hover h2 {
    color: theme('colors.hover-dark') !important;
    background: none !important;
    text-decoration: underline !important;
    text-decoration-color: theme('colors.hover-dark') !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 3px !important;
}

.dark ul.links li p a:hover {
    color: theme('colors.black');
    text-decoration: none;
}

.dark .hero-image {
    background-color: hsl(204, 17%, 89%);
}

/* Dark mode detection */
.only-light {
    display: block;
}

.only-dark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .only-light {
        display: none;
    }

    .only-dark {
        display: block;
    }
}
