/* Layout */

/* Page structure */
#page-content {
    view-transition-name: content;
    position: relative;
    min-height: 100vh;
    @apply text-gray-900 dark:text-gray-100;
}

#page-background {
    view-transition-name: bg;
    transform: translateZ(0);
}

html.dark #page-background {
    view-transition-name: none;
    background-color: #222 !important;
}

/* Header */
header a picture {
    margin-right: 0.5rem;
}

header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

/* Navigation */
nav ul li a:hover {
    color: theme('colors.hover');
    transition: color 0.2s;
    text-decoration: underline;
    text-decoration-color: theme('colors.hover');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    cursor: pointer;
}

nav .underline-custom {
    text-decoration: underline;
    text-decoration-color: theme('colors.hover');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

nav ul li a span.no-underline {
    text-decoration: none !important;
}

nav ul li a span.no-underline:hover {
    text-decoration: none !important;
}

/* Pagination */
nav.pagination a:hover {
    background: none;
}

/* Footer */
.site-footer {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 8rem 0 0 0;
    padding: 0;
    align-items: center;
}

.site-footer ul {
    list-style: none;
    padding: 0;
    margin: 0 0 .6rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.site-footer ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer ul li a {
    text-decoration: none;
    font-family: theme('fontFamily.serif');
    font-size: 0.875rem;
}

.site-footer ul li a:hover {
    color: theme('colors.gray.900');
    transition: color 0.2s;
    text-decoration: underline;
    text-decoration-color: theme('colors.gray.400');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    background: none;
}

.dark .site-footer ul li a {
    color: theme('colors.gray.400');
    text-decoration: none;
}

.dark .site-footer ul li a:hover {
    color: theme('colors.gray.100');
}

.site-footer a.underline-custom {
    text-decoration: underline;
    text-decoration-color: theme('colors.gray.400');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: theme('colors.gray.900');
}

.dark .site-footer a.underline-custom {
    text-decoration: underline;
    text-decoration-color: theme('colors.gray.400');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: theme('colors.gray.100');
}

/* Article styling */
article header {
    @apply bg-transparent border-0 p-0 mb-8;
}

article h1 {
    @apply mb-2;
}

article time {
    @apply text-gray-600 text-sm block mb-2;
}