/* Page-specific styles */

/* Work section */
.prose h2.work-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.prose h2.home-subtitle {
    font-size: 2rem;
    margin-bottom: 0;
}

.prose h3.work-desc {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    margin-top: -1.5rem;
}

/* Introduction */
.introduction {
    margin-bottom: 4rem;
    margin-top: 1rem;
}

/* Resume */
.resume {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.resume ul {
    padding-left: 0;
}

.resume ul li span {
    font-weight: 400;
    font-family: theme('fontFamily.sans');
}

.resume ul li:last-child {
    border-bottom: none;
}

/* Icons */
.icon-sunrise {
    color: #fff;
}

.icon-sunset {
    color: #222;
}

a .no-underline {
    text-decoration: none !important;
}

a.no-underline:hover span {
    text-decoration: none !important;
}
