@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

/* Custom styles for specific elements */
.posts-list {
    @apply list-none p-0;
}

.posts-list li {
    @apply mb-8 pb-4 border-b border-gray-200;
}

.posts-list h2 {
    @apply mt-0 mb-2;
}

.posts-list time {
    @apply text-gray-600 text-sm;
}

.tag {
    @apply bg-gray-200 text-gray-700 px-2 py-1 rounded text-xs mr-2;
}

/* Article styling */
article header {
    @apply bg-transparent border-0 p-0 mb-8;
}

article h1 {
    @apply mb-2;
}

article time {
    @apply text-gray-600 text-sm block mb-2;
}

/* Typography */
.prose {
    font-family: theme('fontFamily.serif');
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.normal');
}

.prose-invert {
    color: #f9f9f9;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    font-family: theme('fontFamily.sans');
}

.prose h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.prose h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    ;
}

.prose h3 {
    font-size: 1.375rem;
    /* 22px */
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.prose p em {
    font-style: italic;
    font-weight: 400;
}

/* Lists, buttons and links */
.prose ul {
    list-style-type: disc;
    list-style-position: inside;
}

::selection {
    background: #fff9a8;
    color: #222;
}

.prose a:hover,
.prose a:focus {
    background: #fff9a8;
    color: #222;
    transition: background 0.2s, color 0.2s;
}

.prose a {
    text-decoration: underline;
    text-decoration-color: #999;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.prose .button {
    text-decoration: none;
    background: #222;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-size: 1.25rem;
    font-weight: 500;
    display: inline-block;
}

.prose .button:hover {
    background: #000;
    color: #fff;
    transition: background 0.2s, color 0.2s;
    display: inline-block;
}

/* Images and captions */

.prose figure figcaption {
    font-size: 1rem;
    font-style: italic;
    margin-top: 0.5rem;
    color: theme('colors.gray.400');
}



/* Navigation */
nav ul li a:hover {
    color: #7c5e00;
    transition: color 0.2s;
    text-decoration: underline;
    text-decoration-color: #7c5e00;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    cursor: pointer;
}

nav .underline-custom {
    text-decoration: underline;
    text-decoration-color: theme('colors.gray.400');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

nav ul li a span.no-underline {
    text-decoration: none !important;
}

nav ul li a span.no-underline:hover {
    text-decoration: none !important;
}

/* Introduction */
.introduction {
    @apply mb-32;
}

/* Resume */
.resume {
    @apply mb-32;
}

.resume ul li span {
    font-weight: 400;
    color: theme('colors.gray.400');
    font-family: theme('fontFamily.sans');
}

.resume ul li:last-child {
    border-bottom: none;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    padding: 0 1.5rem 1.5rem 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer ul li a {
    text-decoration: none;
    color: theme('colors.gray.400');
    font-family: theme('fontFamily.serif');
    font-size: 0.875rem;
}

footer ul li a:hover {
    color: theme('colors.gray.900');
    transition: color 0.2s;
    text-decoration: underline;
    text-decoration-color: theme('colors.gray.400');
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

/* Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Callout */
.callout {
    background: #fff9a8;
    color: #222;
    padding: 0.1rem 1rem 0.5rem 0.1rem;
}

/* Links */
ul.links {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

ul.links li a {
    text-decoration: none;
}

ul.links li a:hover {
    cursor: pointer;
    color: #7c5e00;
    text-decoration: underline;
    text-decoration-color: #7c5e00;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    background: none;
}

/* Icons */
.icon-sunrise {
    color: #fff;
}

.icon-sunset {
    color: #222;
}

a .no-underline {
    text-decoration: none !important;
}

a.no-underline:hover span {
    text-decoration: none !important;
}