---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>{{ metadata.title }} • All posts</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ metadata.url }}/feed.xml" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{% set allPosts = collections.journal.concat(collections.links) %}{{ allPosts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- set allPosts = collections.journal.concat(collections.links) | sort(false, false, 'date') | reverse %}
  {%- for post in allPosts.slice(0, 20) %}
  {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{% if post.data.external_url %}{{ post.data.external_url | escape }}{% else %}{{ absolutePostUrl }}{% endif %}"/>
    <updated>{{ post.data.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{% if post.data.external_url %}&lt;p&gt;&lt;small&gt;&lt;strong&gt;Link:&lt;/strong&gt; &lt;a href="{{ post.data.external_url | escape }}"&gt;{{ post.data.external_url | escape }}&lt;/a&gt;&lt;/small&gt;&lt;/p&gt;&lt;hr&gt;{% endif %}{{ post.templateContent | removeH1 | rssSafe | htmlToAbsoluteUrls(absolutePostUrl) }}&lt;hr&gt;&lt;p&gt;&lt;em&gt;Thank you for reading my RSS feed. If you’d like to respond, you can &lt;a href="mailto:d.vanderwinden@gmail.com"&gt;email me&lt;/a&gt; or seek me out on &lt;a href="https://bsky.app/profile/daniel.pizza"&gt;Bluesky&lt;/a&gt;.&lt;/em&gt;&lt;/p&gt;</content>
  </entry>
  {%- endfor %}
</feed>
