---
layout: narrow.njk
title: Journal
description: Personal writing and essays. RSS feed available.
bodyClass: bg-stone
permalink: journal/index.html
---

<h1>Journal</h1>

<p>My own writing, long and short. <a href="/feed.xml" class="font-medium hover:underline dark:text-gray-300 dark:hover:text-white" title="Subscribe via RSS">Subscribe via RSS</a>.</p>

{% for post in collections.journal %}
  {% set postYear = post.date | date('yyyy') %}
  {% if loop.first or postYear != (collections.journal[loop.index0 - 1].date | date('yyyy')) %}
  <div class="flex items-baseline justify-between {% if not loop.first %}mt-16{% else %}mt-12{% endif %} mb-8">
    <h2 class="text-2xl font-sans font-semibold m-0">{{ postYear }}</h2>
    <span class="text-xs uppercase tracking-widest text-gray-500 font-semibold font-sans">{{ collections.journal | countByYear(postYear) }} {{ "post" if (collections.journal | countByYear(postYear)) == 1 else "posts" }}</span>
  </div>
  {% endif %}

  <a href="{{ post.data.external_url or post.url }}" class="journal-entry block border-b border-gray-950/10 dark:border-white/5 pb-5 mb-5" {% if post.data.external_url %}target="_blank" rel="external"{% endif %}>
    <span class="journal-entry-title font-serif text-3xl font-medium">{{ post.data.title }}</span>
    {% if post.data.description %}
    <p class="font-serif text-black/70 dark:text-white/60 mt-1 m-0">{{ post.data.description }}</p>
    {% endif %}
  </a>
{% endfor %}
