---
layout: narrow.njk
title: Journal
description: Personal writing and essays. RSS feed available for updates.
deleteme: true
bodyClass: bg-stone
pagination:
  data: collections.journal
  size: 10
  alias: journal
  reverse: false
permalink: "journal/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---


<h1>Journal</h1>

My own writing, long and short. 

<ul class="divide-y divide-gray-950/10 dark:divide-white/5 links">
  {% for post in journal %}
  <li class="py-3 pl-0">
    <div class="flex flex-col">
      {% if post.data.image %}
        {% image "src" + post.data.image.src, post.data.image.alt, "(min-width: 768px) 50vw, 100vw", "w-full" %}
      {% endif %}
      <div class="flex items-baseline justify-between">
        <a href="{{ post.data.external_url or post.url }}" class="text-2xl font-serif font-semibold hover:underline" {% if post.data.external_url %}target="_blank" rel="external"{% endif %}>
         <h2 class="no-underline">{{ post.data.title }}</h2>
        </a>
        <span class="text-xs uppercase tracking-widest text-gray-500 ml-4 whitespace-nowrap font-semibold font-sans">
          {{ post.date | date('MMM yyyy') }}
        </span>
      </div>
      <div class="prose prose-sm mt-4 dark:text-gray-300">
        {{ post.data.description }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% if pagination.href.previous or pagination.href.next %}
<nav class="pagination flex items-center justify-between mt-8 pt-4 border-t border-gray-200 dark:border-gray-700">
  {% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}" class="text-sm font-medium text-gray-700 hover:brown dark:hover:text-gray-300" aria-label="Previous page" alt="Previous page">
    <span>{% include "icons/arrow-left-round.svg" %}</span>
  </a>
  {% else %}
  <span class="text-gray-300">{% include "icons/arrow-left-round.svg" %}</span>
  {% endif %}

  <span class="text-sm font-sans text-gray-500">
    Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}
  </span>

  {% if pagination.href.next %}
  <a href="{{ pagination.href.next }}" class="text-gray-700 hover:brown dark:hover:text-gray-300" aria-label="Next page" alt="Next page">
    <span>{% include "icons/arrow-right-round.svg" %}</span>
  </a>
  {% else %}
    <span class="text-gray-300 dark:text-gray-500">{% include "icons/arrow-right-round.svg" %}</span>
  {% endif %}
</nav>
{% endif %} 

{% include "footer.njk" %}
